.unit-image-genre {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.unit-image-genre>.category-sections {
  display: flex;
  flex-direction: column;
  gap: 32px;

  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior: smooth;

  /* Ẩn scrollbar cho Firefox */
  scrollbar-width: none;

  /* Ẩn scrollbar cho Chrome, Safari, Edge */
  -ms-overflow-style: none;
}

.unit-image-genre>.category-sections::-webkit-scrollbar {
  display: none;
}

.unit-image-genre>.category-sections>.category-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.unit-image-genre>.category-sections>.category-block>.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-image-genre>.category-sections>.category-block>.category-header>.category-title {
  font-size: 16px;
  font-weight: 600;
}

.unit-image-genre>.category-sections>.category-block>.category-header>.see-all {
  font-size: 13px;
  color: var(--th-primary-color);
  background: none;
  border: none;
  cursor: pointer;
}

.unit-image-genre>.category-sections>.category-block>.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper:hover {
  transform: scale(1.02);
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper>.thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper>.pro-icon {
  position: absolute;
  top: 6px;
  left: 6px;

  height: 18px;
  padding-inline: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  background: rgb(102, 102, 102);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  color: #fff;

  z-index: 1;

  overflow: hidden;
  transition: all 0.3s ease;
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper>.pro-icon>.pro-text {
  font-size: 10px;
  font-weight: 700;
  white-space: nowrap;

  max-width: 0;
  opacity: 0;

  transition: all 0.3s ease;
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper:hover>.pro-icon>.pro-text {
  max-width: 50px;
  opacity: 1;
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper>.favorite-icon {
  position: absolute;
  bottom: 6px;
  left: 6px;

  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(211, 211, 211, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 3px;

  color: #fff;

  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s ease;

  cursor: pointer;
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper:hover>.favorite-icon {
  opacity: 1;
  transform: scale(1);
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper>.favorite-icon:hover {
  background-color: rgba(168, 168, 168, 0.8);
}

.unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.effect-title {
  font-size: 12px;
  text-align: center;
  color: #ddd;
}

@media (max-width: 992px) {
  .unit-image-genre>.category-sections>.category-block>.category-header {
    display: none;
  }


  .unit-image-genre>.category-sections>.category-block>.image-grid {
    display: flex;
    flex-direction: row;
    gap: 16px;
   
  }

  .unit-image-genre>.category-sections {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper>.pro-icon {
    display: none;
  }

  .unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper>.favorite-icon {
    display: none;
  }

  .unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.image-wrapper {
    height: 70px;
    width: 70px;

  }

  .unit-image-genre>.category-sections>.category-block>.image-grid>.effect-card>.effect-title {
    font-size: 12px;
    text-align: left;
    color: #ddd;
  }
}