:root {
  /* Palette */
  --palette-black: #000;
  --palette-blue: #37f;
  --palette-blue-light: #69f;
  --palette-gray: #bcbcbc;
  --palette-gray-light: #f7f7f7;
  --palette-white: #fff;

  --palette-ivory: #fefefe;

  --palette-purple: #6966ff;
  --palette-purple-faded: #6966ff29;
  --palette-purple-lighter: #817eff;
  --palette-green: #3ed9a4;
  --palette-green-faded: #3ed9a429;
  --palette-red: #e45555;
  --palette-red-faded: #e4555529;
  --palette-yellow: #ffcc48;
  --palette-yellow-faded: #ffcc4829;

  /* Colors */
  --color-primary: var(--palette-blue);
  --color-secondary: var(--palette-yellow-300);

  /* Backgrounds */
  --color-background: var(--palette-gray-light);

  --color-background-header: var(--palette-ivory);
  --color-background-nav: var(--palette-ivory);

  /* Layer Colors */
  --color-layer-0: #08080c;
  --color-layer-1: #101018;
  --color-layer-2: #181825;
  --color-layer-3: #212131;
  --color-layer-4: #29293d;
  --color-layer-5: #303045;
  --color-layer-6: #38384d;
  --color-layer-7: #464659;

  /* Text */
  --color-text: var(--palette-black);
  --color-text-primary: #fafafd;
  --color-text-secondary: #c8c7d8;
  --color-text-tertiary: #807e98;
  --color-text-placeholder: #5f5e72;

  /* Border Colors */
  --color-border-default: #303045;
  --color-border-destructive: #e4555533;
  --color-border-button: #ffffff33;

  /* Typography */
  --font-family-sans-fallback: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Noto Sans',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';

  --font-family-body: Satoshi, var(--font-family-sans-fallback);
  --font-family-heading: 'Space Grotesk', var(--font-family-sans-fallback);

  /* Sizes */
  --size-thinnest: 1px;

  --size-screen-height: 100dvh;
  --size-header-height: 4.25rem;
  --size-footer-height: 3.25rem;
  --size-nav-width: 15rem;

  --size-radius-rounded: 625rem;

  --font-size-title-large: 3.5rem;
  --font-size-title: 3rem;
  --font-size-headline: 2.25rem;
  --font-size-extra: 1.75rem;
  --font-size-large: 1.375rem;
  --font-size-medium: 1.125rem;
  --font-size-base: 0.94rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.75rem;
  --font-size-tiny: 0.625rem;

  --size-line-height-title-large: calc(64 / 56);
  --size-line-height-title: calc(56 / 48);
  --size-line-height-headline: calc(48 / 36);
  --size-line-height-extra: calc(36 / 28);
  --size-line-height-large: calc(32 / 22);
  --size-line-height-medium: calc(24 / 18);
  --size-line-height-base: calc(20 / 15);
  --size-line-height-small: calc(18 / 13.5);
  --size-line-height-mini: calc(16 / 12);
  --size-line-height-tiny: calc(14 / 10);

  /* Transition */
  --transition-timing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --transition-timing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --transition-timing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  /* Values */
  --value-golden-ratio: 1.618;
}
