:root {
  /* background */
  --foreground: #171717;
  --bg-color-0: #ffffff;
  --bg-color-1: #ffffff;
  --bg-color-2: #f4f5f6;
  --bg-color-3: #f0f1f2;
  /* icon -text */
  --text-icon-color-1: #161618;
  --text-icon-color-2: #4c4e53;
  --text-icon-color-3: #979ca8;
  --text-icon-color-4: #d0d3d9;
  /* fill */
  --fill-color-base: rgba(0, 0, 0, 1);
  --fill-color-1: rgba(0, 0, 0, 0.1);
  --fill-color-2: rgba(0, 0, 0, 0.06);
  --fill-color-3: rgba(0, 0, 0, 0.04);
  /*  */
  --th-bg-color-1: #ffffff;
  --th-bg-color-2: #ffffff;
  --th-bg-color-3: #f4f5f6;
  --th-bg-color-4: #f4f5f6;
  --th-bg-color-5: #ffffff;
  --th-bg-color-6: #f4f5f6;
  --th-primary-color: #2643ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
}

li {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
