.unit-AiArt {
  width: 100%;
  height: 100vh;

  color: #fff;
  background-color: #0f0f10;

  padding-block-start: 50px;
  padding-inline: 50px;

  display: flex;
  gap: 20px;
}

.unit-AiArt>.effects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;

  padding: 0 1rem;

  border-radius: 12px 12px 0 0;

  background-color: black;
}

.unit-AiArt>.effects>.header-effects {
  margin: 16px 16px 0;
}

.unit-AiArt>.effects>.header-effects>.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.unit-AiArt>.effects>.header-effects>.header>.flask-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}

.unit-AiArt>.effects>.header-effects>.header>.title {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
}

.unit-AiArt>.effects>.search-effect {
  width: 100%;
}

.unit-AiArt>.effects>.search-effect>.search-input {
  height: 40px;
  width: 100%;
  padding: 4px 11px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  color: white;
  transition: all 0.2s;
  background-color: #0f0f10;
}

.unit-AiArt>.effects>.search-effect>.search-input::placeholder {
  font-weight: 600;
  font-family: "Poppins", "Poppins Fallback";
  color: #4d4d4d;
}

.unit-AiArt>.effects>.search-effect>.search-input:hover {
  background-color: #1c1c1d;
}

.unit-AiArt>.effects>.list-effects {
  position: relative;

}

.unit-AiArt>.effects>.list-effects>.container {
  height: 100%;
  width: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit-AiArt>.effects>.list-effects>.container.hidden {
  display: none;
}

.unit-AiArt>.effects>.list-effects>.container-prev {
  left: 16px;
  transform: rotate(180deg) translateY(50%);
}

.unit-AiArt>.effects>.list-effects>.container-next {
  right: 16px;
}

.unit-AiArt>.effects>.list-effects>.container>.arrow {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(19, 18, 18);
}

.unit-AiArt>.effects>.list-effects>.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.unit-AiArt>.effects>.list-effects>.category>.item {
  padding: 6px 10px;

  font-size: 13px;
  font-weight: 600;

  position: relative;

  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  cursor: pointer;

  color: var(--text-icon-color-3);
  background-color: var(--fill-color-3);

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.unit-AiArt>.effects>.list-effects>.category>.active {
  color: var(--th-primary-color);
  border: 1px solid var(--th-primary-color);
}

.unit-AiArt>.finish {
  background-color: black;
  display: flex;
  flex: 4;
  border-radius: 12px 12px 0 0;

}

/* finish */
.unit-AiArt>.finish {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.unit-AiArt>.finish>h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.unit-AiArt>.finish .star-image {

  width: 25px;
  height: 25px;
  filter: brightness(0) invert(1);
}

.unit-AiArt>.finish>.main-image-container {
  width: 300px;
  height: 200px;
}

.unit-AiArt>.finish>.update-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

}

.unit-AiArt>.finish>.update-image-container>.update-image-button {
  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 5px;

  padding-block: 10px;
  padding-inline: 20px;

  font-size: 16px;
  font-weight: 600;

  background-color: #8a99f8;
}

.unit-AiArt>.finish>.update-image-container>.update-image-button .road {
  border-left: 1px solid black;
  height: 80%;
}

.unit-AiArt>.finish .main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.unit-AiArt>.finish .image-format {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.unit-AiArt>.finish .image-format>.image-format-title {
  font-size: 13px;
}

.unit-AiArt>.finish .image-format>.image-format-options {
  display: flex;
  gap: 10px;
}

.unit-AiArt>.finish .image-format>.image-format-options>.bt-category {
  border: none;
  color: #979ca8;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #383838;
}