.unit-AiArt {
  height: calc(100vh - 64px);

  display: flex;
  gap: 20px;

  overflow: hidden;

  padding-block-start: 40px;
  padding-inline: 70px;

  color: #fff;
  background-color: #0f0f10;
}

.unit-AiArt>.effects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;

  overflow: hidden;

  padding: 0 1rem;
  border-radius: 12px 12px 0 0;

  background-color: black;
}

.unit-AiArt>.effects>.header-effects {
  margin: 16px 16px 0;
}

.unit-AiArt>.effects>.header-effects>.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.unit-AiArt>.effects>.header-effects>.header>.flask-icon {
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
}

.unit-AiArt>.effects>.header-effects>.header>.title {
  font-size: 15px;
  font-weight: 600;

  line-height: 20px;
  letter-spacing: 0;
}

.unit-AiArt>.effects>.search-effect {
  width: 100%;
}

.unit-AiArt>.effects>.search-effect>.search-input {
  height: 40px;
  width: 100%;


  padding-block: 4px;
  padding-inline: 11px;

  font-size: 14px;

  border-radius: 6px;
  border: none;

  color: white;
  background-color: #0f0f10;

  transition: all 0.2s;
}

.unit-AiArt>.effects>.search-effect>.search-input::placeholder {
  font-weight: 600;
  font-family: "Poppins", "Poppins Fallback";

  color: #4d4d4d;
}

.unit-AiArt>.effects>.search-effect>.search-input:hover {
  background-color: #1c1c1d;
}

.unit-AiArt>.effects>.list-effects {
  width: 100%;

  position: relative;
}

.unit-AiArt>.effects>.list-effects>.container {
  height: 100%;
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  z-index: 2;
}

.unit-AiArt>.effects>.list-effects>.container.hidden {
  display: none;
}

.unit-AiArt>.effects>.list-effects>.container-prev {
  left: 16px;
  transform: rotate(180deg) translateY(50%);
}

.unit-AiArt>.effects>.list-effects>.container-next {
  right: 16px;
}

.unit-AiArt>.effects>.list-effects>.container>.arrow {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.08);

  cursor: pointer;

  background-color: rgb(19, 18, 18);
}

.unit-AiArt>.effects>.list-effects>.category {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;

  padding-inline-end: 48px;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.unit-AiArt>.effects>.list-effects>.category::-webkit-scrollbar {
  display: none;
}

.unit-AiArt>.effects>.list-effects>.category>.item {
  padding: 6px 10px;

  font-size: 13px;
  font-weight: 600;

  position: relative;

  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  cursor: pointer;

  color: var(--text-icon-color-3);
  background-color: var(--fill-color-3);

  flex-shrink: 0;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.unit-AiArt>.effects>.list-effects>.category>.active {
  color: var(--th-primary-color);
  border: 1px solid var(--th-primary-color);
}

/* finish */
.unit-AiArt>.finish {
  display: flex;
  flex-direction: column;
  gap: 35px;
  flex: 3;
  justify-content: center;
  align-items: center;

  border-radius: 12px 12px 0 0;

  width: 100%;
  height: 100%;
  background-color: black;
}

.unit-AiArt>.finish>h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.unit-AiArt>.finish .star-image {
  width: 25px;
  height: 25px;

  filter: brightness(0) invert(1);
}

.unit-AiArt>.finish>.main-image-container {
  width: 300px;
  height: 200px;
}

.unit-AiArt>.finish .main-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.unit-AiArt>.finish>.update-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.unit-AiArt>.finish>.update-image-container>.update-image-button {
  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 5px;

  padding-block: 10px;
  padding-inline: 20px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  background-color: #8a99f8;
}

.unit-AiArt>.finish>.update-image-container>.update-image-button:hover {
  background-color: #6b7fd7;
}


.unit-AiArt>.finish>.update-image-container>.update-image-button .road {
  border-left: 1px solid rgb(0, 0, 0);
  height: 80%;
}

.unit-AiArt>.finish .image-format {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
}

.unit-AiArt>.finish .image-format>.image-format-title {
  font-size: 13px;
}

.unit-AiArt>.finish .image-format>.image-format-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.unit-AiArt>.finish .image-format>.image-format-options>.bt-category {
  padding: 2px 4px;

  font-size: 12px;

  border-radius: 2px;
  border: none;

  color: #979ca8;
  background-color: #1f1f1f;
}

@media (max-width: 1200px) {
  .unit-AiArt {
    padding-inline: 20px;
  }

  .unit-AiArt>.effects {
    flex: 1;
  }

  .unit-AiArt>.finish {
    flex: 2;

  }

  .unit-AiArt>.finish>h1 {
    padding-inline: 30px;
  }

}

@media (min-width: 1200px) {
  .unit-AiArt>.effects {
    flex: 1;
  }

  .unit-AiArt>.finish {
    flex: 3;

  }
}

@media (max-width: 992px) {
  .unit-AiArt {
    display: flex;
    flex-direction: column-reverse;

    padding-block-start: 10px;
  }

  .unit-AiArt>.effects {
    gap: 10px;
  }

  .unit-AiArt>.effects>.header-effects {
    display: none;
  }

  .unit-AiArt>.effects>.search-effect {
    display: none;
  }

  .unit-AiArt>.finish {
    gap: 20px;
  }

  .unit-AiArt>.finish>h1 {
    padding-inline: 20px;
  }

  .unit-AiArt>.finish .main-image-container {
    width: 150px;
    height: 100px;
  }

  .unit-AiArt>.finish>h1 {
    font-size: 25px;
  }

  .unit-AiArt>.finish>.update-image-container>.update-image-button {
    gap: 5px;
  }

  .unit-AiArt>.finish>.update-image-container>.update-image-button .road {
    display: none;
  }

  .unit-AiArt>.finish>.update-image-container>.update-image-button .angle-down {
    display: none;
  }

  .unit-AiArt>.effects {
    flex: 1;
  }

  .unit-AiArt>.finish {
    flex: 4;
  }

  .unit-AiArt>.finish>.main-image-container {
    width: 300px;
    height: 200px;
  }

  .unit-AiArt>.finish .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .unit-AiArt {
    padding-inline: 0rem;
  }

  .unit-AiArt>.effects {
    padding-inline: 1rem;

  }

  .unit-AiArt>.finish {
    padding-inline: 0rem;
  }

  .unit-AiArt>.finish .image-format {
    padding-inline: 10px;

  }
}