.unit-AiArt {
  max-width: 360px;
  width: 100%;
  height: 100%;
  margin-block: 50px;
  margin-inline: 60px;
  color: #fff;
  background-color: #0f0f10;
}

.unit-AiArt > .effects {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* start - header */
.unit-AiArt > .effects > .header-effects {
  margin: 16px 16px 0;
}
.unit-AiArt > .effects > .header-effects > .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.unit-AiArt > .effects > .header-effects > .header > .flask-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}

.unit-AiArt > .effects > .header-effects > .header > .title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}
/* end -header */

/* start - search */
.unit-AiArt > .effects > .search-effect {
  width: 100%;
  padding: 16px 16px 8px;
}

.unit-AiArt > .effects > .search-effect > .search-input {
  height: 40px;
  width: 100%;
  padding: 4px 11px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  transition: all 0.2s;
}

.unit-AiArt > .effects > .search-effect > .search-input:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* end - search */

/* start - list category */
.unit-AiArt > .effects > .list-effects {
  position: relative;
  padding: 0 16px;
  margin-bottom: 16px;
  overflow-x: hidden;
}

/* continer-arrow */
.unit-AiArt > .effects > .list-effects > .container {
  width: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.unit-AiArt > .effects > .list-effects > .container-prev {
  left: 16px;
  transform: rotate(180deg) translateY(50%);
}
.unit-AiArt > .effects > .list-effects > .container-next {
  right: 16px;
}

.unit-AiArt > .effects > .list-effects > .container > .arrow {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* category */
.unit-AiArt > .effects > .list-effects > .category {
  display: flex;
  flex-direction: row;
  gap: 4px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  white-space: nowrap;
  align-items: center;
}

.unit-AiArt > .effects > .list-effects > .category::-webkit-scrollbar {
  display: none;
}

.unit-AiArt > .effects > .list-effects > .category > .item {
  border-radius: 6px;
  padding: 9px 8px;
  color: var(--text-icon-color-3);
  background-color: var(--fill-color-3);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.unit-AiArt > .effects > .list-effects > .category > .active {
  color: var(--th-primary-color);
  border: 1px solid var(--th-primary-color);
}
/* end - list category */
